* {
  font-family: Helvetica, sans-serif;
}


h1 {
  color: SeaGreen;
}

img {size: 100px;}

head {color: darkgreen;}

p,
li {
  font-size: 18px;
}

h2 {color: SeaGreen;}


a {
  text-decoration: none;
}
